header {
    padding: 15px;
    background-color: lightgray;
}

body {
    background-color: gray;
    color: white;
    margin: 0px;
}

section {
    padding: 30px;
}

p {
    margin: 0px 0px 150px;
}